@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
.page {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #08020d;
  margin: 0;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.title-big {
  font-size: 60px;
  line-height: 90px;
}
@media only screen and (width <= 600px) {
  .title-big {
    font-size: 30px;
    line-height: 45px;
  }
}

.title-small {
  font-size: 38px;
  line-height: 57px;
}
@media only screen and (width <= 600px) {
  .title-small {
    font-size: 18px;
    line-height: 27px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
@media only screen and (width <= 1240px) {
  .container {
    width: calc(100vw - 40px);
  }
}

.header {
  position: absolute;
  top: 25px;
  width: 100vw;
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  gap: 90px;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
}
@media only screen and (width <= 1240px) {
  .header {
    width: calc(100vw - 40px);
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 18px;
  }
}
@media only screen and (width <= 600px) {
  .header {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (width <= 600px) {
  .header-logo {
    font-weight: bold;
  }
}

.header-logo-img {
  width: 24px;
}

.header-nav {
  justify-self: start;
  display: flex;
  gap: 24px;
  color: #cacaca;
}
@media only screen and (width <= 1240px) {
  .header-nav {
    justify-self: end;
  }
}
@media only screen and (width <= 600px) {
  .header-nav {
    justify-self: start;
    gap: 3px;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
  }
}

.header-nav-item {
  color: #cacaca;
  text-decoration: none;
}

.header-nav-item:hover {
  color: #fff;
}

.header-search {
  justify-self: end;
}
@media only screen and (width <= 1240px) {
  .header-search {
    grid-column: span 2;
    justify-self: start;
  }
}
@media only screen and (width <= 600px) {
  .header-search {
    grid-column: span 1;
  }
}

.header-search-input {
  height: 25px;
  width: 250px;
  padding: 0 10px;
  color: #757575;
  background-color: #3C3B3D;
  border: none;
  border-radius: 25px;
}
@media only screen and (width <= 600px) {
  .header-search-input {
    width: calc(100vw - 40px - 20px);
  }
}

.header-search-input::placeholder {
  line-height: 0;
  text-transform: uppercase;
  color: #757575;
  background-color: #3C3B3D;
}

.header-search-input:focus {
  outline: none;
}

.page-description {
  position: relative;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  margin: 0;
  text-align: center;
}
@media only screen and (width <= 1240px) {
  .page-description {
    padding: 20px;
  }
}

.page-description-banner {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
@media only screen and (width <= 1240px) {
  .page-description-banner {
    width: calc(100vw - 40px);
    padding-top: 150px;
  }
}

.page-description-banner-title {
  margin-bottom: 14px;
}
@media only screen and (width <= 600px) {
  .page-description-banner-title {
    margin-bottom: 0;
  }
}

.page-description-banner-form {
  display: grid;
  justify-content: center;
}

.page-description-banner-form-container {
  max-width: 570px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  column-gap: 24px;
}
@media only screen and (width <= 600px) {
  .page-description-banner-form-container {
    width: calc(100vw - 40px);
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
  }
}

.page-description-banner-form-input {
  min-width: 270px;
  min-height: 50px;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: bold;
}
@media only screen and (width <= 600px) {
  .page-description-banner-form-input {
    width: 100%;
  }
}

.page-description-banner-form-input::placeholder {
  font-weight: bold;
  color: #fff;
}

.page-description-banner-form-input:focus {
  outline: none;
}

.page-description-banner-form-button {
  grid-column: span 2;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #34C176;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
@media only screen and (width <= 600px) {
  .page-description-banner-form-button {
    grid-column: auto;
  }
}

.page-pricing-container {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.page-pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 50px;
  margin-top: 50px;
}
.page-pricing-cards .page-pricing-cards-item:nth-of-type(1) {
  background-image: url("../images/subscribe_1.png");
}
.page-pricing-cards .page-pricing-cards-item:nth-of-type(2) {
  background-image: url("../images/subscribe_2.png");
}
.page-pricing-cards .page-pricing-cards-item:nth-of-type(3) {
  background-image: url("../images/subscribe_3.png");
}
@media only screen and (width <= 1240px) {
  .page-pricing-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
  }
}
@media only screen and (width <= 840px) {
  .page-pricing-cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.page-pricing-cards-item {
  box-sizing: border-box;
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}
@media only screen and (width <= 1240px) {
  .page-pricing-cards-item {
    width: 366px;
  }
}
@media only screen and (width <= 840px) {
  .page-pricing-cards-item {
    width: 375px;
  }
}

.page-pricing-cards-item-title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 0;
}
@media only screen and (width <= 600px) {
  .page-pricing-cards-item-title {
    font-size: 16px;
  }
}

.page-pricing-cards-item-price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  font-size: 64px;
  line-height: 1em;
  margin-top: 200px;
  margin-bottom: 40px;
}

.page-pricing-cards-item-price-currency {
  font-size: 32px;
  line-height: 1em;
}

.page-pricing-cards-item-button {
  display: block;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.page-pricing-cards-item-disclaimer {
  font-size: 0.8rem;
  margin: 64px auto;
}

.page-pricing-disclaimer {
  margin-top: 40px;
  margin-bottom: 0;
}

.page-news-container {
  display: flex;
  row-gap: 65px;
  flex-direction: column;
  margin-top: 48px;
}
.page-news-container > :nth-child(even) {
  flex-direction: row-reverse;
}
@media only screen and (width <= 1010px) {
  .page-news-container > :nth-child(even) {
    flex-direction: column;
  }
}
@media only screen and (width <= 1010px) {
  .page-news-container {
    column-gap: 65px;
  }
}

.page-news-container-item {
  display: flex;
  gap: 50px;
}
.page-news-container-item > * {
  flex-basis: 50%;
}
@media only screen and (width <= 1010px) {
  .page-news-container-item {
    flex-direction: column;
  }
}

.page-news-container-item-title {
  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
}
@media only screen and (width <= 1010px) {
  .page-news-container-item-title {
    margin-bottom: 0;
  }
}
@media only screen and (width <= 600px) {
  .page-news-container-item-title {
    font-size: 16px;
  }
}

.page-news-container-item-body {
  margin-bottom: 24px;
}

.page-news-container-item-author {
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  column-gap: 16px;
}

.page-news-container-item-author-name {
  text-transform: uppercase;
  color: #F89202;
}

.page-news-container-item-button {
  display: inline-block;
  margin-top: 48px;
  width: 135px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 16px 30px;
  background-color: rgba(0, 0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: none;
  color: #cacaca;
}

/*# sourceMappingURL=style.css.map */
