@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

.page {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $white;

  background-color: #08020d;

  margin: 0;
}

.title {
  text-transform: uppercase;
  margin: 0;

  text-align: center;
}

.title-big {
  font-size: 60px;
  line-height: 90px;

  @media screen and (max-width: 600px) {
    font-size: 30px;
    line-height: 45px;

    margin-top: 3rem;
  }
}

.title-small {
  font-size: 38px;
  line-height: 57px;

  margin-bottom: 3rem;

  @media screen and (max-width: 600px) {
    font-size: 18px;
    line-height: 27px;
  }
}

.centred-container {
  display: flex;
  justify-content: center;
}

.container {
  width: 1240px;
  padding: 100px 20px 0;
  box-sizing: border-box;

  @media screen and (max-width: 1240px) {
    width: 100%;
  }
}

.header {
  position: absolute;
  top: 25px;
  width: 100vw;
  max-width: 1200px;

  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  gap: 90px;
  align-items: center;

  font-size: 11px;
  text-transform: uppercase;

  @media screen and (max-width: 1240px) {
    width: $mobile-width;
  
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

    gap: 16px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 600px) {
    font-weight: bold;
  }
}

.header-logo-img {
  width: 24px;
}

.header-nav {
  justify-self: start;
  display: flex;
  gap: 24px;
  color: $light;

  @media screen and (max-width: 1240px) {
    justify-self: end;
  }

  @media screen and (max-width: 600px) {
    justify-self: start;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;

    font-weight: bold;
  }
}

.header-nav-item {
  color: $light;
  text-decoration: none;
}

.header-nav-item:hover {
  color: $white;
}

.header-search {
  justify-self: end;

  @media screen and (max-width: 1240px) {
    grid-column: span 2;
    justify-self: start;
  }

  @media screen and (max-width: 600px) {
    grid-column: span 1;
  }
}

.header-search-input {
  height: 25px;
  width: 250px;
  padding: 0 10px;

  color: $grey;
  background-color: $dark-grey;

  border: none;
  border-radius: 25px;

  @media screen and (max-width: 600px) {
    width: calc($mobile-width - 20px);
  }
}

.header-search-input::placeholder {
  line-height: 0;
  text-transform: uppercase;

  color: $grey;
  background-color: $dark-grey;
}

.header-search-input:focus {
  outline: none;
}

.footer-gradient-container {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  display: grid;
}

.footer-container {
  padding: 0;

  display: grid;
  justify-self: center;

  @media screen and (max-width: 1240px) {
    padding: 0 20px;
  }
}

.footer-container-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;

  color: $dark-white;

  padding: 62px 0;

  @media screen and (max-width: 800px) {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
  }
}

.footer-container-menu-item {
  display: flex;
  flex-direction: column;
}

.footer-container-menu-item-link {
  color: $dark-white;
  text-decoration: none;
}

.footer-container-menu-item-title {
  font-size: 18px;
  text-align: left;

  margin-bottom: 12px;
}

.footer-container-menu-item-social-networks {
  display: flex;
  gap: 24px;
}

.footer-container-line {
  width: 100%;

  background-color: $light;
}

.footer-container-links {
  padding-top: 2rem;
  padding-bottom: 50px;

  display: flex;
  gap: 16px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.footer-container-links-link {
  color: $dark-white;
  text-decoration: none;
}