.page-news-container {
  display: flex;
  row-gap: 65px;
  flex-direction: column;

  > :nth-child(even) {
    flex-direction: row-reverse;

    @media screen and (max-width: 1010px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1010px) {
    column-gap: 65px;

    margin-top: 40px;
  }
}

.page-news-container-item {
  display: flex;
  gap: 50px;

  > * {
    flex-basis: 50%;
  }

  @media screen and (max-width: 1010px) {
    flex-direction: column;
  }
}

.page-news-container-item-title {
  font-size: 30px;
  font-weight: 400;

  margin-top: 0;

  @media screen and (max-width: 1010px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;;
  }
}

.page-news-container-item-body {
  margin-bottom: 24px;
}

.page-news-container-item-author {
  font-size: 12px;
  line-height: 1.6;

  display: flex;
  column-gap: 16px;
}

.page-news-container-item-author-name {
  text-transform: uppercase;
  color: $orange;
}

.page-news-container-item-button {
  display: inline-block;
  margin-top: 48px;

  width: 135px;
  box-sizing: border-box;

  border-radius: 5px;
  border: 1px solid $light;

  padding: 16px 30px;
  background-color: rgba(0 0 0 / 0%);

  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: none;
  color: $light;
}